@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
  --font-serif: var(--font-playfair);

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
}

:root {
  --background: #ffffff;
  --foreground: #0f172a;
  /* Slate 900 */

  --primary: #0f172a;
  /* Deep Navy */
  --primary-foreground: #ffffff;

  --secondary: #f8fafc;
  /* Slate 50 */
  --secondary-foreground: #0f172a;

  --accent: #d4af37;
  /* Gold */
  --accent-foreground: #ffffff;

  --muted: #f1f5f9;
  /* Slate 100 */
  --muted-foreground: #64748b;
  /* Slate 500 */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-serif), serif;
}